# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
crash.log

# Kubernetes / local tools
.kube/
*.kubeconfig

# Logs
*.log

# IDEs / editors
.vscode/
.idea/
*.iml

# Docker
docker-compose.override.yml

# Misc
*.swp
*~
